footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    padding: 22px 25px;
}

footer h3 {
    font-family: "Shrikhand", cursive;
    font-style: italic;
    font-weight: 700;
    color: white;
    padding-bottom: 16px;
    margin: 0;
}

footer ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

footer li {
    list-style: none;
}

footer a {
    @include btn-typography;
}

.fa-footer {
    width: 11px;
    height: 13px;
    padding-right: 11px;
}