footer {
    background: $dark-grey;
    padding: 22px 25px;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        padding: 30px 25px;
        align-items: flex-end;
        justify-content: space-evenly;
    }
}

footer h3 {
    font-family: $font-title;
    font-weight: 400;
    color: white;
    padding-bottom: 16px;
    margin: 0;

    @media (min-width: 768px) {
        padding-bottom: 0;
    }
}

footer ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 7px;

    @media (min-width: 768px) {
        flex-direction: row;
        gap: 30px;
    }
}

footer a {
    @include btn-typography;
}

.fa-footer {
    width: 11px;
    height: 13px;
    flex-shrink: 0;
    padding-right: 15px;
}