// _header.scss //

header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 14px 89px 13px 89px;

    & img {
        width: 162px;
        height: 44px;
        margin: auto;
    }
}