// _header.scss //

// Home page header //

header {
    text-align: center;
    box-shadow: $box-shadow;
    padding: 14px 0 13px 0;

    @media (min-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;

    }

    & img {
        width: 197px;
        height: 36px;
        margin: auto;
        flex-shrink: 0;

        @media (min-width: 1024px) {
            width: 200px;
            height: 34.202px;
        }
    }
}

// Menu header position // 

.menu-header-position {
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;

    @media (min-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.menu-header-arrow {
    position: absolute;
    font-size: 25px;
    left: 20px;
    bottom: 25px;

    @media (min-width: 1024px) {
        bottom: 37px;
    }
}