.button {
    @include btn-typography;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: $btn-color;
    margin: auto;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 250ms;
    transition-property: all;
}