.button {
    @include btn-typography;
    @include centered-flex;
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: $btn-color;
    margin: auto;
    white-space: nowrap;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    transition-property: all;
    transition: 300ms ease-out;

    &:hover {
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
}

// Menu page "Button Commander" // 

.btn-width {
    width: 186px;
}