// _typography.scss

// Typography
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;

body {
  font-family: 'roboto', sans-serif;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

p {
  color: black;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}