// _typography.scss

// Typography
$font-title: 'Shrikhand', sans-serif;
$font-text: 'Roboto', sans-serif;

body {
  font-family: $font-text, sans-serif;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: $primary-text-color;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: $primary-text-color;
  font-size: 17px;
  font-weight: 300;
}