/* main.scss */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol li ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  font-style: normal;
  line-height: normal;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

body {
  font-family: "roboto", sans-serif;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: black;
  font-size: 17px;
  font-weight: 300;
}

.button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
  margin: auto;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 250ms;
  transition-property: all;
}

.home-card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.home-card img {
  display: block;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.tag {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-weight: 500;
  padding: 0.7rem 1.5rem;
  border-radius: 0.3rem;
  top: 1.5rem;
  right: 1.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-content {
  display: grid;
  padding: 16px 0 15px 13px;
  gap: 5px;
}

.empty-heart {
  position: absolute;
  right: 25px;
  top: 85%;
  transform: translateY(-50%);
  font-size: 25px;
}

.full-heart {
  position: absolute;
  right: 25px;
  top: 85%;
  transform: translateY(-50%);
  font-size: 25px;
  opacity: 0;
  background-clip: text;
  transition-property: all;
  transition-duration: 2s;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.full-heart:hover {
  opacity: 2;
  background-image: var(--button-gradient, linear-gradient(175deg, #9356DC 0%, #FF79DA 100%));
}

.home-banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 18px;
  padding: 40px 0 50px 0;
  background-color: #F6F6F6;
}

.search-form {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
}
.search-form .search-form-icon {
  width: 12px;
  height: 16px;
}

input {
  border: none;
  background-color: #eaeaea;
  padding: 0;
}

input::placeholder {
  color: #353535;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filtres {
  display: grid;
  gap: 25px;
  padding: 50px 0 68px 0;
}
@media (min-width: 1024px) {
  .filtres {
    padding: 50px 180px 50px 180px;
  }
}
.filtres ol {
  display: grid;
  row-gap: 2rem;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .filtres ol {
    display: flex;
  }
}
.filtres .filter-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  border-radius: 20px;
  padding: 1.75rem;
  background: var(--background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  gap: 1.25rem;
  white-space: nowrap;
}
.filtres .filter-button p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filtres h2 {
  padding-left: 20px;
}

.order-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #9356dc;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -1rem;
}

.fa-color {
  color: #7E7E7E;
}

.fa-color2 {
  color: #9356dc;
}

.home-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
  background-color: #F6F6F6;
  padding: 50px 15px 66px 15px;
}
@media (min-width: 768px) {
  .home-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .home-grid {
    padding-left: 180px;
    padding-right: 180px;
    row-gap: 50px;
    column-gap: 100px;
  }
}

.header-position {
  padding-left: 17px;
}

.header-arrow {
  font-size: 25px;
  margin-right: auto;
}

.restaurant-image {
  display: block;
  width: 100%;
  height: 275px;
}

.title-section {
  position: relative;
  background: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -55px;
}
.title-section h1 {
  font-family: Shrikhand;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 35px 17px 40px 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.menu-section {
  display: grid;
  grid-template-columns: 1fr;
  background: #f6f6f6;
  padding: 0 10px 40px 10px;
}
.menu-section h2 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
.menu-section h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu-section p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15.043px;
}

.price {
  font-weight: 700;
}

.menu-section ul {
  display: grid;
  gap: 12px;
  padding-bottom: 40px;
  padding-top: 12px;
}
.menu-section ul li {
  display: grid;
  padding: 15px;
  border-radius: 15.043px;
  background: var(--White, #FFF);
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.menu-section ul .checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: white;
  width: 59px;
  height: 74px;
  background: #99E2D0;
  border-radius: 0 15.043px 15.043px 0;
  position: absolute;
  right: -55px;
}

.btn-width {
  width: 186px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 89px 13px 89px;
}
header img {
  width: 162px;
  height: 44px;
  margin: auto;
}

footer {
  background: #353535;
  padding: 22px 25px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 25px;
    align-items: flex-end;
    justify-content: space-evenly;
  }
}

footer h3 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  color: white;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  footer h3 {
    padding-bottom: 0;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 7px;
}
@media (min-width: 768px) {
  footer ul {
    flex-direction: row;
    gap: 30px;
  }
}

footer a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fa-footer {
  width: 11px;
  height: 13px;
  padding-right: 11px;
}/*# sourceMappingURL=main.css.map */