/* main.scss */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol li ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  font-style: normal;
  line-height: normal;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

body {
  font-family: "Roboto", sans-serif, sans-serif;
  margin: auto;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

p {
  color: black;
  font-size: 17px;
  font-weight: 300;
}

.button {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  margin: auto;
  white-space: nowrap;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 400ms;
  transition-property: all;
}
.button:hover {
  background: linear-gradient(175deg, #a16be0 0%, #ff93e1 90%);
  box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
}

.btn-width {
  width: 186px;
}

.home-card {
  position: relative;
  width: 100%;
  border-radius: 15px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}

.home-card img {
  display: block;
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.tag {
  position: absolute;
  background: #99E2D0;
  color: #008766;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px 10px 15px;
  border-radius: 0.3rem;
  top: 1.5rem;
  right: 1.5rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.card-content {
  display: grid;
  padding: 16px 0 15px 13px;
  gap: 5px;
}

.empty-heart {
  position: absolute;
  right: 25px;
  top: 85%;
  font-size: 25px;
  transform: translateY(-50%);
}

.full-heart {
  position: absolute;
  right: 25px;
  top: 85%;
  transform: translateY(-50%);
  font-size: 25px;
  opacity: 0;
  background-clip: text;
  transition-property: all;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1.5s;
}
.full-heart:hover {
  opacity: 1;
  background-image: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
}

.empty-heart-menu {
  position: absolute;
  font-size: 25px;
  transform: translateY(-50%);
  top: 47%;
}

.full-heart-menu {
  position: absolute;
  transform: translateY(-50%);
  font-size: 25px;
  top: 47%;
  opacity: 0;
  background-clip: text;
  transition-property: all;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition-duration: 1.5s;
}
.full-heart-menu:hover {
  opacity: 1;
  background-image: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  opacity: 0.95;
  width: 100%;
  height: 100vh;
  position: fixed;
  inset: 0;
  z-index: 1;
  animation: loader 4s;
  animation-delay: 4s;
  animation-fill-mode: both;
}
.loader .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: linear-gradient(#9356DC, #FF79DA, #99E2D0);
  position: relative;
  animation: spin 0.6s linear infinite;
}
.loader .circle:after {
  content: "";
  border-radius: 50px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #eaeaea;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  to {
    transform: scale(0);
  }
}
.search-form {
  background: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
}
.search-form .search-form-icon {
  width: 12px;
  height: 16px;
}

input {
  border: #eaeaea;
  background: #eaeaea;
  padding: 0;
  height: 20px;
}

input::placeholder {
  color: #353535;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-banner {
  text-align: center;
  padding: 40px 0 50px 0;
  background: #F6F6F6;
}
.home-banner h1 {
  padding-bottom: 20px;
}
.home-banner p {
  font-size: 18px;
  padding-bottom: 28px;
}

.filter {
  display: grid;
  gap: 30px;
  padding: 50px 0 68px 0;
}
@media (min-width: 1024px) {
  .filter {
    width: 80%;
    margin: auto;
  }
}
.filter ol {
  display: grid;
  row-gap: 2rem;
  padding: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .filter ol {
    display: flex;
    gap: 25px;
  }
}
.filter .filter-button {
  display: flex;
  align-items: center;
  position: relative;
  width: 70%;
  border-radius: 20px;
  padding: 1.75rem;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  gap: 1.25rem;
  white-space: nowrap;
}
.filter .filter-button p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.filter h2 {
  padding-left: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .filter h2 {
    padding-left: 115px;
  }
}

.order-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #9356DC;
  color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  left: -1rem;
  font-size: 14.182px;
  font-weight: 500;
}

.fa-color {
  color: #7E7E7E;
  width: 13.019px;
  height: 19.903px;
  flex-shrink: 0;
}

.fa-color2 {
  color: #9356DC;
}

.section-home-card {
  background: #F6F6F6;
  padding: 50px 20px 66px 20px;
}
.section-home-card h2 {
  padding-bottom: 28px;
}
@media (min-width: 1024px) {
  .section-home-card {
    padding-left: 180px;
    padding-right: 180px;
  }
}

.home-card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 18px;
}
@media (min-width: 768px) {
  .home-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  .home-card-grid {
    row-gap: 50px;
    column-gap: 100px;
  }
}

.restaurant-image {
  display: block;
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.title-section {
  position: relative;
  background: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -55px;
}
@media (min-width: 768px) {
  .title-section {
    margin-top: -25px;
  }
}
.title-section h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 35px 17px 40px 10px;
}
@media (min-width: 768px) {
  .title-section h1 {
    text-align: center;
  }
}

.flex {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-section {
  background: #f6f6f6;
  padding: 0 10px 40px 10px;
}
.menu-section h2 {
  font-size: 16px;
  font-weight: 300;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
.menu-section h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.menu-section p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15.043px;
}

.menu-section-price {
  font-weight: 700;
}

.menu-section-price-flex {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu-section ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 40px;
  padding-top: 12px;
}
.menu-section ul :hover .checkmark-animation {
  visibility: visible;
  margin-right: -15px;
  transition: cubic-bezier(0.25, 0.1, 0.25, 1);
}
.menu-section ul li {
  display: flex;
  padding: 15px;
  border-radius: 15.043px;
  background: white;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.checkmark-animation {
  display: grid;
  place-items: center;
  font-size: 24px;
  color: white;
  width: 59px;
  height: 76px;
  flex-shrink: 0;
  background: #99E2D0;
  border-radius: 0 15.043px 15.043px 0;
  margin: -1rem -5rem -1rem 1rem;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}

@media (min-width: 768px) {
  .main-responsive {
    width: 80%;
    margin: auto;
  }
  .responsive-width {
    width: 70%;
    margin: auto;
  }
}
.responsive-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  text-align: center;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  padding: 14px 0 13px 0;
}
@media (min-width: 1024px) {
  header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
header img {
  width: 197px;
  height: 36px;
  margin: auto;
  flex-shrink: 0;
}
@media (min-width: 1024px) {
  header img {
    width: 200px;
    height: 34.202px;
  }
}

.menu-header-position {
  position: relative;
  padding-top: 13px;
  padding-bottom: 13px;
}
@media (min-width: 1024px) {
  .menu-header-position {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.menu-header-arrow {
  position: absolute;
  font-size: 25px;
  left: 20px;
  bottom: 25px;
}
@media (min-width: 1024px) {
  .menu-header-arrow {
    bottom: 37px;
  }
}

footer {
  background: #353535;
  padding: 22px 25px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 30px 25px;
    align-items: flex-end;
    justify-content: space-evenly;
  }
}

footer h3 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  color: white;
  padding-bottom: 16px;
  margin: 0;
}
@media (min-width: 768px) {
  footer h3 {
    padding-bottom: 0;
  }
}

footer ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 7px;
}
@media (min-width: 768px) {
  footer ul {
    flex-direction: row;
    gap: 30px;
  }
}

footer a {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.fa-footer {
  width: 11px;
  height: 13px;
  flex-shrink: 0;
  padding-right: 15px;
}/*# sourceMappingURL=main.css.map */