// heart animations //

// Checkmark animations //

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes slide {
    from {
        margin-right: -15px;
    }

    to {
        margin-right: -15px;
    }
}

// Home page heart //

.empty-heart {
    position: absolute;
    right: 25px;
    top: 85%;
    font-size: 25px;
    transform: translateY(-50%);
}

.full-heart {
    position: absolute;
    right: 25px;
    top: 85%;
    transform: translateY(-50%);
    font-size: 25px;
    opacity: 0;
    background-clip: text;
    transition-property: all;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 1.5s;

    &:hover {
        opacity: 1;
        background-image: $btn-color;
    }
}

// Menu page heart //

.empty-heart-menu {
    position: absolute;
    font-size: 25px;
    transform: translateY(-50%);
    top: 47%;
}

.full-heart-menu {
    position: absolute;
    transform: translateY(-50%);
    font-size: 25px;
    top: 47%;
    opacity: 0;
    background-clip: text;
    transition-property: all;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 1.5s;

    &:hover {
        opacity: 1;
        background-image: $btn-color;
    }
}