// heart animations //
.empty-heart {
    position: absolute;
    width: 22px;
    height: 21px;
    flex-shrink: 0;
    right: 25px;
    top: 85%;
    font-size: 25px;
    transform: translateY(-50%);
}

.full-heart {
    position: absolute;
    right: 25px;
    top: 85%;
    transform: translateY(-50%);
    font-size: 25px;
    opacity: 0;
    background-clip: text;
    transition-property: all;
    transition-duration: 2s;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.full-heart:hover {
    opacity: 2;
    background-image: $btn-color;
}