// heart animations //

// Checkmark animations //

@keyframes rotate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes slide {
    from {
        margin-right: -15px;
    }

    to {
        margin-right: -15px;
    }
}

// Home page heart //

.empty-heart {
    position: absolute;
    right: 25px;
    top: 85%;
    font-size: 25px;
    transform: translateY(-50%);
}

.full-heart {
    position: absolute;
    right: 25px;
    top: 85%;
    transform: translateY(-50%);
    font-size: 25px;
    opacity: 0;
    background-clip: text;
    transition-property: all;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 1.5s;

    &:hover {
        opacity: 1;
        background-image: $btn-color;
    }
}

// Menu page heart //

.empty-heart-menu {
    position: absolute;
    font-size: 25px;
    transform: translateY(-50%);
    top: 47%;
}

.full-heart-menu {
    position: absolute;
    transform: translateY(-50%);
    font-size: 25px;
    top: 47%;
    opacity: 0;
    background-clip: text;
    transition-property: all;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-duration: 1.5s;

    &:hover {
        opacity: 1;
        background-image: $btn-color;
    }
}

// Loader //

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $lightgrey;
    opacity: 0.95;
    width: 100%;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
    animation: loader 3s;
    animation-delay: 3s;
    animation-fill-mode: both;


    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient($primary-color, $secondary-color, $tertiary-color);
        position: relative;
        animation: spin 0.5s linear infinite;
    }

    .circle:after {
        content: "";
        border-radius: 50px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        background: $lightgrey;
        ;
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader {
    to {
        transform: scale(0);
    }
}