@mixin heart {
    cursor: pointer;
    font-size: 22px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

// Placeholder, filtres, footer //

@mixin typography {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

// Button //

@mixin btn-typography {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}